@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="rentShopPaidFixedInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#select id="bid" name="大楼"  value="">
                                <!--<option value="0">请选择</option>-->
                            </#select>
                            <#select id="fid" name="楼层" value="" >
                                <!--<option value="0">请选择</option>-->
                            </#select>
                            <#select id="shopsNumber" name="商铺门牌号" value="" >
                                <!--<option value="0">请选择</option>-->
                            </#select>

                            <#input id="memo" name="备注信息" underline="true"/>


                            <#input id="paidStart" name="缴租期开始时间" underline="true"/>
                            <#input id="paidEnd" name="缴租期结束时间" underline="true"/>
                            <#input id="voucher" name="凭证" underline="true"/>
                            <#input id="receipt" name="收据编号" underline="true"/>
                            <#input id="account" name="账户" underline="true"/>
                            <#select id="flag" name="是否缴清" underline="true">
                                <option value="0">未缴清</option>
                                <option value="1">已缴清</option>
                            </#select>

                            <#input id="contractMargin" name="合同保证金（元）" underline="true"/>
                            <#input id="propertyMargin" name="物业保证金（元）" underline="true"/>
                            <#input id="businessMargin" name="商管保证金（元）" underline="true"/>
                            <#input id="adMargin" name="广告位保证金（元）" underline="true"/>
                            <#input id="waterMargin" name="水电保证金（元）" underline="true"/>
                            <#input id="lisensePrice" name="证照押金（元）" underline="true"/>
                            <#input id="contractFees" name="租金（元）" underline="true"/>

                </div>

                <div class="col-sm-6">
                        <#input id="propertyFees" name="物业管理费（元）" underline="true"/>
                        <#input id="businessFees" name="商业管理费（元）" underline="true"/>
                        <#input id="adRent" name="广告位租金（元）" underline="true"/>
                        <#input id="fitmentPrice" name="装修押金（元）" underline="true"/>
                        <#input id="garbagePrice" name="垃圾清运费（元）" underline="true"/>
                        <#input id="platePrice" name="施工号牌费（元）" underline="true"/>
                        <#input id="popPrice" name="封场POP费（元）" underline="true"/>
                        <#input id="offPrice" name="缺勤未关灯罚款（元）" underline="true"/>
                        <#input id="toolPrice" name="工具费（元）" underline="true"/>
                        <#input id="exitElectricity" name="退场电费（元）" underline="true"/>
                        <#input id="exitWater" name="退场水费（元）" underline="true"/>
                        <#input id="trashPrice" name="生活垃圾费（元）" underline="true"/>
                        <#input id="otherPrice" name="其他费用（元）" underline="true"/>
                        <#input id="moneyPaid" name="实缴合计（元）" underline="true"/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RentShopPaidFixedInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RentShopPaidFixedInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/rentShopPaidFixed/rentShopPaidFixed_info.js"></script>
<script>
    laydate.render({
        elem:'#paidStart',
        format:'yyyy/MM/dd',


    })
    laydate.render({
        elem:'#paidEnd',
        format:'yyyy/MM/dd',


    })
</script>
@}
