@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="rentAdPaidFixedInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#select id="bid" name="大楼"  value="">
                                <!--<option value="0">请选择</option>-->
                            </#select>
                            <#select id="fid" name="楼层" value="" >
                                <!--<option value="0">请选择</option>-->
                            </#select>
                            <#select id="adNumber" name="广告位编号" value="" >
                                <!--<option value="0">请选择</option>-->
                            </#select>

                            <#input id="memo" name="备注信息" underline="true"/>


                            <#input id="paidStart" name="缴租期开始时间" underline="true"/>
                            <#input id="paidEnd" name="缴租期结束时间" underline="true"/>
                            <#input id="voucher" name="凭证" underline="true"/>
                            <#input id="receipt" name="收据编号" underline="true"/>
                            <#input id="account" name="账户" underline="true"/>
                            <#select id="flag" name="是否缴清" underline="true">
                                <option value="0">未缴清</option>
                                <option value="1">已缴清</option>
                            </#select>

                            <div class="form-group"  underline="true">
                                <label >合同租金</label>
                            </div>
                            <div class="form-group"  underline="true">
                                <div class="col-sm-6">
                                    <#input id="contractFees" name="应缴" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="contractFeesPaid" name="实缴" underline="true"/>
                                </div>
                            </div>



                </div>

                <div class="col-sm-6">
                            <div class="form-group"  underline="true">
                                <label >合同保证金</label>
                            </div>
                            <div class="form-group"  underline="true">
                                <div class="col-sm-6">
                                    <#input id="contractMargin" name="应缴" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="contractMarginPaid" name="实缴" underline="true"/>
                                </div>
                            </div>

                            <div class="form-group"  underline="true">
                                <label >物业保证金</label>
                            </div>
                            <div class="form-group"  underline="true">
                                <div class="col-sm-6">
                                    <#input id="propertyMargin" name="应缴" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="propertyMarginPaid" name="实缴" underline="true"/>
                                </div>
                            </div>

                            <div class="form-group"  underline="true">
                                <label >物业管理费</label>
                            </div>
                            <div class="form-group"  underline="true">
                                <div class="col-sm-6">
                                    <#input id="propertyFees" name="应缴" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="propertyFeesPaid" name="实缴" underline="true"/>
                                </div>
                            </div>

                            <div class="form-group"  underline="true">
                                <label >商业管理保证金</label>
                            </div>
                            <div class="form-group"  underline="true">
                                <div class="col-sm-6">
                                    <#input id="businessMargin" name="应缴" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="businessMarginPaid" name="实缴" underline="true"/>
                                </div>
                            </div>

                            <div class="form-group"  underline="true">
                                <label >商业管理费</label>
                            </div>
                            <div class="form-group"  underline="true">
                                <div class="col-sm-6">
                                    <#input id="businessFees" name="应缴" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="businessFeesPaid" name="实缴" underline="true"/>
                                </div>
                            </div>

                            <div class="form-group"  underline="true">
                                <label>水电保证金</label>
                            </div>
                            <div class="form-group"  underline="true">
                                <div class="col-sm-6">
                                    <#input id="waterMargin" name="应缴" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="waterMarginPaid" name="实缴" underline="true"/>
                                </div>
                            </div>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RentAdPaidFixedInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RentAdPaidFixedInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/rentAdPaidFixed/rentAdPaidFixed_info.js"></script>
<script>
    laydate.render({
        elem:'#paidStart',
        format:'yyyy/MM/dd',


    })
    laydate.render({
        elem:'#paidEnd',
        format:'yyyy/MM/dd',


    })
</script>
@}
