<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.RentShopContractDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.RentShopContractDetails">
        <id column="id" property="id" />
        <result column="tenants_id" property="tenantsId" />
        <result column="card_number" property="cardNumber" />
        <result column="bid" property="bid" />
        <result column="fid" property="fid" />
        <result column="shops_number" property="shopsNumber" />
        <result column="shops_id" property="shopsId" />
        <result column="deposit" property="deposit" />
        <result column="payment" property="payment" />
        <result column="period" property="period" />
        <result column="rent_status" property="rentStatus" />
        <result column="electricity_type" property="electricityType" />
        <result column="electricity_price" property="electricityPrice" />
        <result column="contract_fees" property="contractFees" />
        <result column="contract_margin" property="contractMargin" />
        <result column="property_margin" property="propertyMargin" />
        <result column="property_fees" property="propertyFees" />
        <result column="business_margin" property="businessMargin" />
        <result column="business_fees" property="businessFees" />
        <result column="water_margin" property="waterMargin" />
        <result column="lisense_price" property="lisensePrice" />
        <result column="begined_at" property="beginedAt" />
        <result column="ended_at" property="endedAt" />
        <result column="contract_pic" property="contractPic" />
        <result column="lease_memo" property="leaseMemo" />
        <result column="user_id" property="userId" />
        <result column="flag" property="flag" />
        <result column="fitment_price" property="fitmentPrice" />
        <result column="garbage_price" property="garbagePrice" />
        <result column="plate_price" property="platePrice" />
        <result column="pop_price" property="popPrice" />
        <result column="off_price" property="offPrice" />
        <result column="water_price" property="waterPrice" />
        <result column="tool_price" property="toolPrice" />
        <result column="exit_electricity" property="exitElectricity" />
        <result column="exit_water" property="exitWater" />
        <result column="ad_margin" property="adMargin" />
        <result column="ad_rent" property="adRent" />
        <result column="trash_price" property="trashPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenants_id, card_number, bid, fid, shops_number, shops_id, deposit, payment, period, rent_status, electricity_type, electricity_price, contract_fees, contract_margin, property_margin, property_fees, business_margin, business_fees, water_margin, lisense_price, begined_at, ended_at, contract_pic, lease_memo, user_id, flag,
        fitment_price, garbage_price, plate_price, pop_price, off_price, other_price, water_price, tool_price, exit_electricity, exit_water, ad_margin, ad_rent, trash_price
    </sql>

    <select id="getShopContract" resultType="map">
        select a.id, a.tenants_id as tenantsId, (select name from rent_tenants where tenants_id=a.tenants_id) as tenantsName, a.card_number as cardNumber,
        a.bid, (select fullname from sys_dept where id=a.bid) as bname ,
        a.fid, (select simplename from sys_dept where id=a.fid) as fname, a.shops_id as shopsId, a.shops_number as shopsNumber,
        (select shops_name from rent_shops where bid=a.bid and fid=a.fid and shops_id=a.shops_id) as shopsName,
        a.deposit, a.payment,CONCAT('押',a.deposit,'付',a.payment) as dap, a.period,
        case when a.rent_status=1 then '新租' else '续租' end as rentStatus, case when a.electricity_type=1 then '独立抄表' else '核定用电量' end as electricityType,
        a.electricity_price as electricityPrice, a.contract_fees as contractFees, a.contract_margin as contractMargin, a.property_margin as propertyMargin,
        a.property_fees as propertyFees, a.business_margin as businessMargin, a.business_fees as businessFees, a.water_margin as waterMargin, a.lisense_price as lisensePrice,
        a.begined_at as beginedAt, a.ended_at as endedAt, a.contract_pic as contractPic, a.lease_memo as leaseMemo,
        a.user_id as userId, (select name from sys_user where id=a.user_id ) as userName,
        case when a.flag=0 then '未终止' else '已终止' end as flag,
        a.fitment_price as fitmentPrice, a.garbage_price as garbagePrice, a.plate_price as platePrice, a.pop_price as popPrice, a.off_price as offPrice,
        a.other_price as otherPrice, a.water_price as waterPrice, a.tool_price as toolPrice, a.exit_electricity as exitElectricity,a.exit_water as exitWater,
        a.ad_margin as adMargin, a.ad_rent as adRent, a.trash_price as trashPrice,
        (a.contract_fees+a.contract_margin+a.property_margin+a.property_fees+a.business_margin+a.business_fees+a.water_margin+a.lisense_price
        +a.fitment_price+a.garbage_price+a.plate_price+a.pop_price+a.off_price+a.other_price+a.tool_price+a.exit_electricity+a.exit_water
        +a.ad_margin+a.ad_rent+a.trash_price) as total
        from rent_shop_contract_details a, sys_user b, rent_shops c
        where a.bid=c.bid and a.fid=c.fid and a.shops_id=c.shops_id and b.id=c.manage_id and
        ( #{deptId} = b.deptid or b.deptid in ( select id from sys_dept where pids like CONCAT('%[', #{deptId}, ']%') ))
        <if test="condition1 != null and condition1 != ''">
            and (select fullname from sys_dept where id=a.bid) like CONCAT('%',#{condition1},'%')
        </if>
        <if test="condition2 != null and condition2 != ''">
            and (select simplename from sys_dept where id=a.fid) like CONCAT('%',#{condition2},'%')
        </if>
        <if test="beginTime != null and beginTime != ''">
            and (a.begined_at >= CONCAT(#{beginTime},' 00:00:00'))
        </if>
        <if test="endTime != null and endTime != ''">
            and (CONCAT(#{endTime},' 23:59:59') >= a.ended_at)
        </if>
        order by a.flag, a.shops_number,  a.ended_at
    </select>

    <delete id="deleteShopContract">
        delete from rent_shop_contract_details where id=#{id}
    </delete>

    <insert id="addShopContract">
        insert into rent_shop_contract_details(tenants_id, card_number, bid, fid, shops_number, shops_id, deposit, payment, period, rent_status, electricity_type,
        electricity_price, contract_fees, contract_margin, property_margin, property_fees, business_margin, business_fees, water_margin, lisense_price, begined_at, ended_at, contract_pic, lease_memo, user_id, flag,
        fitment_price, garbage_price, plate_price, pop_price, off_price, other_price, water_price, tool_price, exit_electricity, exit_water, ad_margin, ad_rent, trash_price)
        values(#{tenantsId},#{cardNumber},#{bid},#{fid},#{shopsNumber},#{shopsId},#{deposit},#{payment},#{period},#{rentStatus},#{electricityType},#{electricityPrice},
        #{contractFees},#{contractMargin},#{propertyMargin},#{propertyFees},#{businessMargin},#{businessFees},#{waterMargin},#{lisensePrice},#{beginedAt},#{endedAt},#{contractPic},#{leaseMemo},#{userId},#{flag},
        #{fitmentPrice},#{garbagePrice},#{platePrice},#{popPrice},#{offPrice},#{otherPrice},#{waterPrice},#{toolPrice},#{exitElectricity},#{exitWater},#{adMargin},#{adRent},#{trashPrice})
    </insert>

    <update id="setShopContract">
        update rent_shop_contract_details set tenants_id=#{tenantsId},card_number=#{cardNumber},bid=#{bid},fid=#{fid},shops_number=#{shopsNumber},shops_id=#{shopsId},deposit=#{deposit},
        payment=#{payment},period=#{period},rent_status=#{rentStatus},electricity_type=#{electricityType},electricity_price=#{electricityPrice},contract_fees=#{contractFees},contract_margin=#{contractMargin},
        property_margin=#{propertyMargin},property_fees=#{propertyFees},business_margin=#{businessMargin},business_fees=#{businessFees},water_margin=#{waterMargin},lisense_price=#{lisensePrice},
        begined_at=#{beginedAt},ended_at=#{endedAt},contract_pic=#{contractPic},lease_memo=#{leaseMemo},fitment_price=#{fitmentPrice},garbage_price=#{garbagePrice},plate_price=#{platePrice},pop_price=#{popPrice},
        off_price=#{offPrice},other_price=#{otherPrice},water_price=#{waterPrice},tool_price=#{toolPrice},exit_electricity=#{exitElectricity},
        exit_water=#{exitWater},ad_margin=#{adMargin},ad_rent=#{adRent},trash_price=#{trashPrice},flag=#{flag}
        where id=#{id}
    </update>

    <select id="getTenantsId" resultType="Integer">
        select tenants_id from rent_shop_contract_details where bid=#{bid} and fid=#{fid} and shops_number=#{shopsNumber} and flag=0
    </select>

    <update id="setFlag">
        update rent_shop_contract_details set flag=1 where bid=#{bid} and fid=#{fid} and shops_number=#{shopsNumber}
    </update>

    <select id="getShopsNumber" resultType="map">
        select shops_id, shops_number from rent_shop_contract_details where bid=#{bid} and fid=#{fid} and flag=0
    </select>

</mapper>
