@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="adConId" name="广告位合同ID" value="${item.adConId}" />
                </div>

                <div class="col-sm-6">
                            <#input id="pictureUrl" name="照片名" value="${item.pictureUrl}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RentAdContractPicturesInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RentAdContractPicturesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/rentAdContractPictures/rentAdContractPictures_info.js"></script>
@}
