@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="rentTenantAdChangeInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <input id="id" name="记录ID" value="${item.id}" type="hidden" underline="true"/>
                            <div id="typehidden" class="form-group" style="display:none">
                                <#select id="bid" name="大楼"  >
                                    <option value="0">请选择</option>
                                </#select>
                                <input type="hidden" id="typeflag1" value="${bid1}">
                                <#select id="fid" name="楼层"  >
                                    <option value="0">请选择</option>
                                </#select>
                                <input type="hidden" id="typeflag2" value="${fid1}">
                                <#select id="adNumber" name="广告位编号"  >
                                    <option value="0">请选择</option>
                                </#select>
                                <input type="hidden" id="typeflag3" value="${adNumber1}">
                                <input type="button" style="float:right" value="取消" id="cancelbutton" onclick="javascript:hiddentype()" >
                            </div>

                            <div id="typehidden1" class="form-group" >
                                <#input id="building" name="大楼" value="${item.bid}" disabled="true" />
                                <#input id="floor" name="楼层" value="${item.fid}" disabled="true" />
                                <#input id="AdNumber" name="广告位编号" value="${item.adNumber}" disabled="true" />
                                <input type="button" style="float:right" value="修改地址" id="editbutton" onclick="javascript:showtype()" >

                            </div>
                            <input id="adId" name="广告位ID" value="${item.adId}" type="hidden" underline="true"/>
                            <input id="tenantsId" name="对应租赁商户ID" value="${item.tenantsId}" type="hidden" underline="true"/>

                            <#select id="optionsId" name="变更事项" underline="true" value="${item.optionsId}"/>

                            <#input id="changeReason" name="变更选项具体原因" value="${item.changeReason}" underline="true"/>
                            <#input id="electricMeter" name="电表读数" value="${item.electricMeter}" underline="true"/>
                            <#input id="waterMeter" name="水表读数" value="${item.waterMeter}" underline="true"/>
                            <#input id="offTimes" name="缺勤未关灯次数" value="${item.offTimes}" underline="true"/>
                            <#input id="votes" name="钥匙数量" value="${item.votes}" underline="true"/>
                </div>

                <div class="col-sm-6">

                            <#input id="fitmentPrice" name="装修押金（元）" value="${item.fitmentPrice}" underline="true"/>
                            <#input id="garbagePrice" name="垃圾清运费（元）" value="${item.garbagePrice}" underline="true"/>
                            <#input id="platePrice" name="施工号牌费（元）" value="${item.platePrice}" underline="true"/>
                            <#input id="popPrice" name="封场POP费（元）" value="${item.popPrice}" underline="true"/>
                            <#input id="offPrice" name="缺勤未关灯罚款（元）" value="${item.offPrice}" underline="true"/>
                            <#input id="lisensePrice" name="证照押金（元）" value="${item.lisensePrice}" underline="true"/>
                            <#input id="otherPrice" name="其他费用（元）" value="${item.otherPrice}" underline="true"/>
                            <#input id="memo" name="备注信息" value="${item.memo}" underline="true"/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RentTenantAdChangeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RentTenantAdChangeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/rentTenantAdChange/rentTenantAdChange_info.js"></script>
<script>
    $(function () {
        var ajax = new $ax(Feng.ctxPath + "/rentTenantSelections/list1", function (data) {
            var user_list = data;
            for (var temp in user_list){
                $("#optionsId").append("<option value='"+user_list[temp].id+"'>"+user_list[temp].options+"</option>");
            }
            $("#optionsId").val(${item.optionsId})
        }, function (data) {
            Feng.error("传参失败!" + data.responseJSON.message + "!");
        });
        ajax.start();
    });

//    $("#bid").val(${item.bid});
//    $("#fid").val(${item.fid});
//    $("#adNumber").val(${item.adNumber});
    RentTenantAdChangeInfoDlg.getDept(document.getElementById('building').value);
    RentTenantAdChangeInfoDlg.getDept1(document.getElementById('floor').value);
</script>

<script type="text/javascript">

    function showtype(){
        document.getElementById('typehidden').style.display="block";
        document.getElementById('typehidden1').style.display="none";
    }
    function hiddentype(){
        document.getElementById('typehidden').style.display="none";
        document.getElementById('typehidden1').style.display="block";
    }
</script>

@}
